body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  background-color: #3b883f;
  font-family: "Ubuntu", sans-serif;
}

canvas {
  max-width: 100vw;
  max-height: 100vh;
}

#modal, #modal-pause {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

#modal-pause {
  display: none;
}

#modal p, #modal-pause p {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  color: white;
  background-color: #4CAF50;
  border: 2px solid #3b883f;
  border-radius: 8px;
}

#start {
  padding: 1rem 2rem;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  font-family: inherit;
  transition: background-color 0.3s ease;
}

#start:hover {
  background-color: #3b883f;
}

#game-message, #pause-message {
  display: none;
  cursor: default;
}

#field, #gameplay {
  display: none;
  padding: 16px;
  position: absolute;
  left: 8px;
  background-color: #3b883f;
  color: white;
  border: 2px solid #4CAF50;
  border-radius: 24px;
}

#field {
  top: 8px;
}

#gameplay {
  bottom: 8px;
  opacity: 0.8;
  font-size: 0.825rem;
}

#music {
  margin-top: 8px;
  cursor: pointer;
}